{% extends 'front/base.html' %}                    
{% load staticfiles %}

{% block titulo %}Lista de Publicaciones{% endblock %}

{% block contenido %}

    <div class="container-960 innerT">

    <h3 class="glyphicons notes"><i></i>Blog</h3>
    <div class="separator bottom"></div>

    <div class="row-fluid">
        <div class="span3">
        
            <!-- Widget -->
            <div class="widget widget-heading-simple widget-body-gray">
                <div class="widget-body list">
                
                    <!-- List -->
                    <ul>
                        <li>
                            <a href="">Make Up</a>
                            <span class="badge">35</span>
                        </li>
                        <li>
                            <a href="">Fragrances</a>
                            <span class="badge">30</span>
                        </li>
                        <li>
                            <a href="">Nails</a>
                            <span class="badge">19</span>
                        </li>
                        <li>
                            <a href="">Hair Products</a>
                            <span class="badge">33</span>
                        </li>
                        <li>
                            <a href="">Accessories</a>
                            <span class="badge">17</span>
                        </li>
                    </ul>
                    <!-- // List END -->
                    
                </div>
            </div>
            <!-- // Widget END -->
            
            <div class="widget widget-heading-simple widget-body-gray">
                <div class="widget-head"><h4 class="heading glyphicons warning_sign strong"><i></i>Important note</h4></div>
                <div class="widget-body"><p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi erat massa, ultricies sit amet.</p></div>
            </div>
            
            <div class="widget widget-heading-simple widget-body-gray">
                <div class="widget-head"><h4 class="heading glyphicons tags strong"><i></i>Labels</h4></div>
                <div class="widget-body center"><span class="label">responsive blog</span> <span class="label">12 column grid</span> <span class="label">awesome</span> <span class="label">mobile first</span> <span class="label">easy development</span> <span class="label">html template</span></div>
            </div>
        
        </div>
        <div class="span9">
        
            <div class="widget widget-heading-simple widget-body-white">
                <div class="widget-body">
                    <div class="row-fluid"> 
                        <div class="span4 center">
                            <a href="" class="thumb"><img src="../../../common/theme/images/gallery-2/2.jpg" alt="Image" /></a>
                        </div>
                        <div class="span8">
                            <h5 class="strong text-uppercase">What is Lorem Ipsum?</h5>
                            <span class="glyphicons single regular user"><i></i> by <a href="">mosaicpro</a></span>
                            <span class="glyphicons single regular calendar"><i></i> on 15th June, 2013</span>
                            <span class="glyphicons single regular comments"><i></i> 15 comments</span>
                            <div class="separator bottom"></div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p class="margin-none strong"><a href="" class="glyphicons single chevron-right"><i></i>read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="widget widget-heading-simple widget-body-white">
                <div class="widget-body">
                    <div class="row-fluid"> 
                        <div class="span6">
                            <h5 class="strong text-uppercase">What is Lorem Ipsum?</h5>
                            <span class="glyphicons single regular user"><i></i> by <a href="">mosaicpro</a></span>
                            <span class="glyphicons single regular calendar"><i></i> on 15th June, 2013</span>
                            <div class="separator bottom"></div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p class="margin-none strong">
                                <a href="" class="glyphicons single chevron-right"><i></i>read more</a>
                                <span class="glyphicons single regular comments"><i></i> 15 comments</span>
                            </p>
                        </div>
                        <div class="span6 center">
                            <a href="" class="thumb"><img src="../../../common/theme/images/gallery-2/4.jpg" alt="Image" /></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="widget widget-heading-simple widget-body-white">
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span6 center">
                            <a href="" class="thumb"><img src="../../../common/theme/images/gallery-2/7.jpg" alt="Image" /></a>
                        </div>  
                        <div class="span6">
                            <h5 class="strong text-uppercase">What is Lorem Ipsum?</h5>
                            <span class="glyphicons single regular user"><i></i> by <a href="">mosaicpro</a></span>
                            <span class="glyphicons single regular calendar"><i></i> on 15th June, 2013</span>
                            <div class="separator bottom"></div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p class="margin-none strong">
                                <a href="" class="glyphicons single chevron-right"><i></i>read more</a>
                                <span class="glyphicons single regular comments"><i></i> 15 comments</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="widget widget-heading-simple widget-body-gray">
                <div class="widget-body">
                    <div class="row-fluid"> 
                        <div class="span8">
                            <h5 class="strong text-uppercase">What is Lorem Ipsum?</h5>
                            <span class="glyphicons single regular user"><i></i> by <a href="">mosaicpro</a></span>
                            <span class="glyphicons single regular calendar"><i></i> on 15th June, 2013</span>
                            <span class="glyphicons single regular comments"><i></i> 15 comments</span>
                            <div class="separator bottom"></div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p class="margin-none strong"><a href="" class="glyphicons single chevron-right"><i></i>read more</a></p>
                        </div>
                        <div class="span4 center">
                            <a href="" class="thumb"><img src="../../../common/theme/images/gallery-2/8.jpg" alt="Image" /></a>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>

{% endblock %}
