{% extends 'admin/base.html' %}
{% load staticfiles %}


	{% block static_css %}

	<link href="{% static "admin/plugins/forms/bootstrap-datetimepicker/css/datetimepicker.css" %}" rel="stylesheet" />


	{% endblock %}


	{% block static_js %}
	<script src="{% static "admin/plugins/forms/jquery-validation/dist/jquery.validate.min.js" %}"></script>
	<script src="{% static "admin/plugins/theme/scripts/demo/form_validator.js" %}"></script>
	<script src="{% static "admin/plugins/forms/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" %}"></script>
	<script src="{% static "admin/js/form_elements.js" %}"></script>

	{% endblock %}



{% block contenido %}


<h3>Agregar nuevo autor</h3>
<div class="innerLR">

	<form class="form-horizontal margin-none" id="validateSubmitForm" method="get" autocomplete="off">
		<div class="widget widget-heading-simple widget-body-gray">
			<div class="widget-head">
				<h4 class="heading">Datos personales:</h4>
			</div>
			
			<div class="widget-body">
			
				<div class="row-fluid">
					<div class="span6">

						<div class="control-group">
							<label class="control-label" for="firstname">Cedula</label>
							<div class="controls"><input class="span12" id="firstname" name="firstname" type="text" /></div>
						</div>

						<div class="control-group">
							<label class="control-label" for="lastname">Nombre</label>
							<div class="controls"><input class="span12" id="lastname" name="lastname" type="text" /></div>
						</div>

						<div class="control-group">
							<label class="control-label" for="username">Apellido</label>
							<div class="controls"><input class="span12" id="username" name="username" type="text" /></div>
						</div>


						<div class="control-group">
							<label class="control-label" for="sexo">Sexo</label>
							<div class="controls btn-group">
								<button type="button" class="btn btn-primary">Masculino</button>
								<button type="button" class="btn btn-primary">Femenino</button>
							</div>
						</div>
						
					</div>

					<div class="span6">

						<div class="control-group">
							<div class="input-append date" id="datetimepicker6">
								<label class="control-label" for="username">Fecha de Nacimiento</label>
							    <input type="text" value="18 June 2013 - 10:00" />
					    		<span class="add-on"><i class="icon-th"></i></span>
							</div>
						</div>
					
						<div class="control-group">
							<label class="control-label" for="password">Password</label>
							<div class="controls"><input class="span12" id="password" name="password" type="password" /></div>
						</div>

						<div class="control-group">
							<label class="control-label" for="confirm_password">Confirm password</label>
							<div class="controls"><input class="span12" id="confirm_password" name="confirm_password" type="password" /></div>
						</div>

						<div class="control-group">
							<label class="control-label" for="email">E-mail</label>
							<div class="controls"><input class="span12" id="email" name="email" type="email" /></div>
						</div>
						
					</div>
				</div>
				
				<hr class="separator" />
				
				<!-- Row -->
				<div class="row-fluid uniformjs">
				
					<!-- Column -->
					<div class="span4">
						<h4 style="margin-bottom: 10px;">Policy &amp; Newsletter</h4>
						<label class="checkbox" for="agree">
							<input type="checkbox" class="checkbox" id="agree" name="agree" />
							Please agree to our policy
						</label>
						<label class="checkbox" for="newsletter">
							<input type="checkbox" class="checkbox" id="newsletter" name="newsletter" />
							Receive Newsletter
						</label>
					</div>
					<!-- // Column END -->
					
					<!-- Column -->
					<div class="span8">
						<div id="newsletter_topics">
							<h4>Topics</h4>
							<p>Select at least two topics you would like to receive in the newsletter.</p>
							<label for="topic_marketflash">
								<input type="checkbox" id="topic_marketflash" value="marketflash" name="topic" />
								Marketflash
							</label>
							<label for="topic_fuzz">
								<input type="checkbox" id="topic_fuzz" value="fuzz" name="topic" />
								Latest fuzz
							</label>
							<label for="topic_digester">
								<input type="checkbox" id="topic_digester" value="digester" name="topic" />
								Mailing list digester
							</label>
						</div>
					</div>
					<!-- // Column END -->
					
				</div>
				<!-- // Row END -->
			
				<hr class="separator" />
				
				<!-- Form actions -->
				<div class="form-actions">
					<button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>Save</button>
					<button type="button" class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Cancel</button>
				</div>
				<!-- // Form actions END -->
				
			</div>
		</div>
		<!-- // Widget END -->
		
	</form>
	<!-- // Form END -->
	
</div>	




{% endblock %}