{% extends 'front/base.html' %}                    
{% load staticfiles %}

{% block titulo %}Autores - Revista Caminos y Horizontes{% endblock %}

{% block contenido %}

   
<div class="container">

    <h3 class="glyphicons circle_info margin-none"><i></i>Autores</h3>
    <div class="separator bottom"></div>

    <div class="widget widget-heading-simple widget-body-gray">
        <div class="widget-body">
            <p class="lead center margin-none">Principales Autores</p>
        </div>
    </div>

    
    <div class="row">
    
        <ul class="thumbnails">
        
        {% for dato in autores %}
            <li class="span4 solidBottom">
                <div class="thumbnail widget-thumbnail">
                    {% if dato.foto == "" %}
                        <img src="{% static "admin/images/user-icon.jpg" %}"  width="116" height="200" alt="autor" />
                    {% else %}
                        <img src="/media/{{dato.foto}}" width="100" height="200" alt="autor" />
                    {% endif %}

                    
                    <div class="caption">
                        <h4>
                            <a href="/autor/{{dato.id}}">{{dato.nombre | capfirst}} {{dato.apellido | capfirst}}</a>
                        </h4>
                        <p>{{dato.informacion}}</p>
                        
                        <a href="http://facebook.com/{{dato.facebook}}" class="glyphicons standard primary facebook">
                            <i></i>
                        </a>
                        <a href="http://twitter.com/{{dato.twitter}}" class="glyphicons standard twitter">
                            <i></i>
                        </a>
                        <a href="http://linkedin.com/{{dato.linkedln}}" class="glyphicons standard linked_in">
                            <i></i>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>

            
        {% endfor %}
            
        </ul>
        
    </div>



</div>  

{% endblock %}
