{% extends 'front/base.html' %}                    
{% load staticfiles %}


{% block titulo %}Autor - Revista Caminos y Horizontes{% endblock %}

{% block contenido %}
                   
        <div class="container-960 innerT">

    <h3 class="glyphicons credit_card"><i></i>Autor</h3>
    <div class="separator bottom"></div>

    <div class="row-fluid">
        <div class="span9">
        
            
            <div class="widget widget-heading-simple widget-body-white">
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span9">
                            <h5 class="strong text-uppercase">Gustavo Leon tramonton</h5>
                            <p>Descripcion del autor</p>
                            

                               <a href="" class="glyphicons standard primary facebook"><i></i></a>
                        <a href="" class="glyphicons standard twitter"><i></i></a>
                        <a href="" class="glyphicons standard linked_in"><i></i></a>
                        <div class="clearfix"></div>

                        </div>
                        <div class="span3 center">
                            <span class="text-xxlarge strong separator bottom">foto</span>
                            <a href="" class="btn btn-inverse btn-small btn-block">Contactar</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="widget widget-heading-simple widget-body-white">
                <div class="widget-body padding-none">
                    <div class="row-fluid row-merge">
                        <div class="span6">
                            <div class="innerAll">
                        
                                <h5 class="strong text-uppercase">Publicacion mas recomendada:</h5>
                                <p>Informacion sobre la publicacion</p>
                              
                                
                                <div class="row-fluid">
                                    <div class="span6 center">
                                        <span class="text-xxlarge strong text-primary">foto</span>
                                    </div>
                                    <div class="span6 center innerT">                                   
                                        <p><a href="" class="glyphicons single strong chevron-right"><i></i>leer</a></p>
                                        <p class="margin-none"><a href="" class="btn btn-primary btn-mini">Compartir</a></p>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        <div class="span6">
                            <div class="innerAll">
                        
                                <h5 class="strong text-uppercase">Ultimas publicaciones</h5>
                                
                                
                                <div class="row-fluid">
                                    <div class="span6 center">
                                        <div class="well">
                                            <p class="text-xlarge strong margin-none">foto</p>
                                        </div>
                                        <p>informacion de la publicacion</p>
                                    </div>
                                    <div class="span6 center">
                                        <div class="well">
                                            <p class="text-xlarge strong margin-none">foto</p>
                                        </div>
                                        <p>informacion de la publicacion</p>
                                    </div>
                                </div>
                                
                                <p class="margin-none">
                                    <a href="" class="glyphicons single strong chevron-right pull-left"><i></i>leer mas</a>
                                    <a href="" class="glyphicons single strong chevron-right pull-right"><i></i>leer mas</a>
                                    <span class="clearfix"></span>
                                </p>
                            
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="widget widget-heading-simple widget-body-simple">
                <div class="widget-head"><h4 class="heading glyphicons coins strong"><i></i>Otras publicaciones</h4></div>
                <div class="widget-body">
                    <table class="table table-bordered table-vertical-center table-pricing table-pricing-2">
                    
                        <thead>
                            <tr>
                                <th class="center">Nombre</th>
                                <th class="center">Nombre</th>
                                <th class="center">Nombre</th>
                                <th class="center">Nombre</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                        
                            <!-- Table pricing row -->
                            <tr class="pricing">
                                <td class="center">
                                    <span class="price">foto</span>
                                </td>
                                <td class="center">
                                    <span class="price">foto</span>
                                </td>
                                <td class="center">
                                    <span class="price">foto</span>
                                </td>
                                <td class="center">
                                    <span class="price">foto</span>
                                </td>
                            </tr>
                            <!-- // Table pricing row END -->
                            
                            <!-- Table row -->
                            <tr>
                                <td class="center">
                                   <p>Informacion</p>
                                    <div class="separator bottom"></div>
                                    <button class="btn btn-primary">Leer</button>
                                </td>
                                <td class="center">
                                   <p>Informacion</p>
                                    <div class="separator bottom"></div>
                                    <button class="btn btn-primary">Leer</button>
                                </td>
                                <td class="center">
                                   <p>Informacion</p>
                                    <div class="separator bottom"></div>
                                    <button class="btn btn-primary">Leer</button>
                                </td>
                                <td class="center">
                                   <p>Informacion</p>
                                    <div class="separator bottom"></div>
                                    <button class="btn btn-primary">Leer</button>
                                </td>
                                
                            </tr>
                            <!-- // Table row END -->
                            
                        </tbody>
                        <!-- // Table body END -->
                        
                    </table>
                </div>
            </div>

        
        </div>
        <div class="span3">
        
            <div class="widget widget-heading-simple widget-body-gray">
                <div class="widget-body">
                    <div class="glyphicons glyphicon-xlarge glyphicon-top circle_question_mark">
                        <i></i>
                        <h4>Have a Question?</h4>
                        <p class="margin-none">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br/> <a href="" class="text-underline">Get your answer</a></p>
                    </div>
                </div>
            </div>
        
            <!-- Widget -->
            <div class="widget widget-heading-simple widget-body-gray">
                    
                <!-- Widget Heading -->
                <div class="widget-head">
                    <h4 class="heading glyphicons list"><i></i>Categorias</h4>
                </div>
                <!-- // Widget Heading END -->
                
                <div class="widget-body list">
                
                    <!-- List -->
                    <ul>
                        <li>
                            <a href="">Make Up</a>
                            <span class="badge">35</span>
                        </li>
                        <li>
                            <a href="">Fragrances</a>
                            <span class="badge">30</span>
                        </li>
                        <li>
                            <a href="">Nails</a>
                            <span class="badge">19</span>
                        </li>
                        <li>
                            <a href="">Hair Products</a>
                            <span class="badge">33</span>
                        </li>
                        <li>
                            <a href="">Accessories</a>
                            <span class="badge">17</span>
                        </li>
                    </ul>
                    <!-- // List END -->
                    
                </div>
            </div>
            <!-- // Widget END -->
            
            <!-- Widget -->
            <div class="widget widget-heading-simple widget-body-simple">
                    
                <!-- Widget Heading -->
                <div class="widget-head">
                    <h4 class="heading glyphicons warning_sign"><i></i>Publicaciones</h4>
                </div>
                <!-- // Widget Heading END -->
                
                <div class="widget-body">
                    
                    <!-- Stats Widget -->
                    <a href="" class="widget-stats widget-stats-gray widget-stats-1">
                        <span class="glyphicons user_add"><i></i><span class="txt">Gustavo leon</span></span>
                        <div class="clearfix"></div>
                        <span class="count">279</span>
                    </a>
                    <!-- // Stats Widget END -->
                    
                </div>
            </div>
            <!-- // Widget END -->
        
        </div>
    </div>
    
    <div class="widget widget-heading-simple widget-body-gray">
        <div class="widget-head"><h4 class="heading glyphicons warning_sign strong"><i></i>Publicaciones en revistas</h4></div>
        <div class="widget-body"><p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi erat massa, ultricies sit amet <a href="" class="text-underline">mattis vitae</a>, lacinia in quam. Nullam nec congue odio. Aenean tincidunt commodo urna, et pulvinar arcu varius sed. Quisque ullamcorper arcu sit amet justo dapibus, eget suscipit sapien egestas. Proin lobortis nibh non risus mollis, sed mattis orci imperdiet. <a href="" class="text-underline">Donec sit amet</a> tincidunt tellus. Etiam ut faucibus nisi. Mauris elit justo, pretium ultrices quam vitae, ultrices scelerisque tellus. Sed quis ullamcorper libero. Etiam blandit faucibus nulla sit amet gravida.</p></div>
    </div>

</div>  
{% endblock %}
