{% extends 'front/base.html' %}                    
{% load staticfiles %}

{% block titulo %}Articulo - Revista Caminos y Horizontes{% endblock %}

{% block contenido %}



<div class="container-960 innerT">

    <h3 class="glyphicons credit_card"><i></i>{{articulo.titulo}}</h3>
    <div class="separator bottom"></div>

    <div class="row-fluid">
        <div class="span9">
                   
            <div class="widget widget-heading-simple widget-body-white">
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span9">
                            <h5 class="strong text-uppercase">{{articulo.titulo}}</h5>
                            <p>{{articulo.contenido}}</p>
                            <p class="margin-none strong"></p>
                        </div>
                        <div class="span3 center">
                            {% if articulo.foto == "" %}
                                <img src="{% static "admin/images/user-icon.jpg" %}" width="116" height="200" alt="articulo" />
                            {% else %}
                                <img src="/media/{{articulo.foto}}" width="100" height="200" alt="articulo" />
                            {% endif %}
                            <a href="" class="btn btn-inverse btn-small btn-block">Compartir</a>
                        </div>
                    </div>
                </div>
            </div>
            


            
            <div class="widget widget-heading-simple widget-body-simple">
                <div class="widget-head">
                    <h4 class="heading glyphicons circle_question_mark strong">
                        <i></i>Comentarios
                    </h4>
                </div>
                <div class="widget-body">
                    <div class="accordion accordion-2" id="tabAccountAccordion">
        
                {% for dato in comentarios %}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle glyphicons right_arrow" data-toggle="collapse" data-parent="#tabAccountAccordion" href="#comentario-1-{{dato.id}}">
                                        <i></i>{{dato.nombre}}
                                </a>
                            </div>
                            <div id="comentario-1-{{dato.id}}" class="accordion-body collapse">
                                <div class="accordion-inner">{{dato.comentario}}
                                </div>
                            </div>
                        </div>
                        <!-- // Accordion Item END -->
                    
                    {% endfor %}         
         
                    
                    </div>
                </div>
            </div>
        
        </div>
        <div class="span3">
        
           
            <div class="widget widget-heading-simple widget-body-gray">
                <div class="widget-head">
                    <h4 class="heading glyphicons list"><i></i>Categorias</h4>
                </div>
                
                <div class="widget-body list">
                    <ul>
                        <li>
                            <a href="">Redes</a>
                            <span class="badge">35</span>
                        </li>
                        <li>
                            <a href="">Ciencias de la Salud</a>
                            <span class="badge">30</span>
                        </li>
                        <li>
                            <a href="">Algoritmos</a>
                            <span class="badge">19</span>
                        </li>
                        <li>
                            <a href="">Odontologia</a>
                            <span class="badge">33</span>
                        </li>
                        <li>
                            <a href="">Desarrollo</a>
                            <span class="badge">17</span>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="widget widget-heading-simple widget-body-gray">
                <div class="widget-head">
                    <h4 class="heading glyphicons tags strong">
                        <i></i>Etiquetas
                    </h4>
                </div>
                <div class="widget-body center">
                        <span class="label">a</span> 

                </div>
            </div>
            
            <div class="widget widget-heading-simple widget-body-simple">
                    
                <div class="widget-head">
                    <h4 class="heading glyphicons warning_sign"><i></i>Articulos del Autor:</h4>
                </div>
                
                <div class="widget-body">
                    
                    <a href="/autor/{{articulo.autor.id}}" class="widget-stats widget-stats-gray widget-stats-1">
                        <span class="glyphicons user_add"><i></i>
                            <span class="txt">{{articulo.autor.nombre | capfirst}} {{articulo.autor.apellido | capfirst}}</span>
                        </span>
                        <div class="clearfix"></div>
                        <span class="count">{{cant_art}}</span>
                    </a>
                    <!-- // Stats Widget END -->
                    
                </div>
            </div>
            <!-- // Widget END -->
        
        </div>
    </div>
    


</div>  
                   
{% endblock %}
