{% extends 'front/base.html' %}                    
{% load staticfiles %}

{% block titulo %}Articulo - Revista Caminos y Horizontes{% endblock %}

{% block contenido %}



        <div class="container-960 innerT">

    <h3 class="glyphicons credit_card"><i></i>Articulo nombre</h3>
    <div class="separator bottom"></div>

    <div class="row-fluid">
        <div class="span9">
                   
            <div class="widget widget-heading-simple widget-body-white">
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span9">
                            <h5 class="strong text-uppercase">subTitulo articulo</h5>
                            <p>Contenido articulo</p>
                            <p class="margin-none strong"><a href="" class="glyphicons single chevron-right"><i></i>read more</a></p>
                        </div>
                        <div class="span3 center">
                            <span class="text-xxlarge strong separator bottom">foto</span>
                            <a href="" class="btn btn-inverse btn-small btn-block">Compartir</a>
                        </div>
                    </div>
                </div>
            </div>
            


            
            <div class="widget widget-heading-simple widget-body-simple">
                <div class="widget-head"><h4 class="heading glyphicons circle_question_mark strong"><i></i>Comentarios</h4></div>
                <div class="widget-body">
                    <div class="accordion accordion-2" id="tabAccountAccordion">
        
                        <!-- Accordion Item -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle glyphicons right_arrow" data-toggle="collapse" data-parent="#tabAccountAccordion" href="#collapse-1-1">
                                        <i></i>Lorem ipsum dolor sit amet?
                                </a>
                            </div>
                            <div id="collapse-1-1" class="accordion-body collapse">
                                <div class="accordion-inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique rutrum libero, vel bibendum nunc consectetur sed.
                                </div>
                            </div>
                        </div>
                        <!-- // Accordion Item END -->
                    
                        <!-- Accordion Item -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle glyphicons right_arrow" data-toggle="collapse" data-parent="#tabAccountAccordion" href="#collapse-2-1">
                                        <i></i>Quisque porttitor elit ac mauris?
                                </a>
                            </div>
                            <div id="collapse-2-1" class="accordion-body collapse">
                                <div class="accordion-inner">Quisque porttitor elit ac mauris aliquam sollicitudin. Nam imperdiet ligula et dolor pulvinar consequat. Sed in turpis id erat vehicula gravida.
                                </div>
                            </div>
                        </div>
                        <!-- // Accordion Item END -->
                    
                        <!-- Accordion Item -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle glyphicons right_arrow" data-toggle="collapse" data-parent="#tabAccountAccordion" href="#collapse-3-1">
                                        <i></i>Vivamus eros tortor consequat sed?
                                </a>
                            </div>
                            <div id="collapse-3-1" class="accordion-body collapse">
                                <div class="accordion-inner">Vivamus eros tortor, consequat sed posuere non, tempus non ligula. Integer pharetra sem eu dolor rhoncus euismod.
                                </div>
                            </div>
                        </div>
                        <!-- // Accordion Item END -->
                    
                        <!-- Accordion Item -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle glyphicons right_arrow" data-toggle="collapse" data-parent="#tabAccountAccordion" href="#collapse-4-1">
                                        <i></i>Etiam suscipit leo tincidunt mi volutpat?
                                </a>
                            </div>
                            <div id="collapse-4-1" class="accordion-body collapse">
                                <div class="accordion-inner">Etiam suscipit leo tincidunt mi volutpat commodo. Morbi tempor interdum dictum. In hac habitasse platea dictumst.
                                </div>
                            </div>
                        </div>
                        <!-- // Accordion Item END -->
                    
                    </div>
                </div>
            </div>
        
        </div>
        <div class="span3">
        
            <div class="widget widget-heading-simple widget-body-gray">
                <div class="widget-body">
                    <div class="glyphicons glyphicon-xlarge glyphicon-top circle_question_mark">
                        <i></i>
                        <h4>Autor</h4>
                        <p class="margin-none">informacion autor.<br/> <a href="" class="text-underline">Ver</a></p>
                    </div>
                </div>
            </div>
        
            <!-- Widget -->
            <div class="widget widget-heading-simple widget-body-gray">
                    
                <!-- Widget Heading -->
                <div class="widget-head">
                    <h4 class="heading glyphicons list"><i></i>Categorias</h4>
                </div>
                <!-- // Widget Heading END -->
                
                <div class="widget-body list">
                
                    <!-- List -->
                    <ul>
                        <li>
                            <a href="">Make Up</a>
                            <span class="badge">35</span>
                        </li>
                        <li>
                            <a href="">Fragrances</a>
                            <span class="badge">30</span>
                        </li>
                        <li>
                            <a href="">Nails</a>
                            <span class="badge">19</span>
                        </li>
                        <li>
                            <a href="">Hair Products</a>
                            <span class="badge">33</span>
                        </li>
                        <li>
                            <a href="">Accessories</a>
                            <span class="badge">17</span>
                        </li>
                    </ul>
                    <!-- // List END -->
                    
                </div>
            </div>
            <!-- // Widget END -->
            
            <!-- Widget -->
            <div class="widget widget-heading-simple widget-body-simple">
                    
                <!-- Widget Heading -->
                <div class="widget-head">
                    <h4 class="heading glyphicons warning_sign"><i></i>Publicaciones</h4>
                </div>
                <!-- // Widget Heading END -->
                
                <div class="widget-body">
                    
                    <!-- Stats Widget -->
                    <a href="" class="widget-stats widget-stats-gray widget-stats-1">
                        <span class="glyphicons user_add"><i></i><span class="txt">Gustavo Leon</span></span>
                        <div class="clearfix"></div>
                        <span class="count">279</span>
                    </a>
                    <!-- // Stats Widget END -->
                    
                </div>
            </div>
            <!-- // Widget END -->
        
        </div>
    </div>
    


</div>  
                   
{% endblock %}
