{% extends 'base.html' %}                    

{% block titulo %}Lista de Publicaciones{% endblock %}

{% block contenido %}
                    <aside class="widget">
                        <div class="textwidget">
                            <div class="home_wrapper">
                               


                                <div class="search_options">
                                    <form action="#" />
                                        <div>
                                            <input placeholder="Buscar por..." type="text" /> 
                                            <select class="property">
                                                <option value="Titulo" selected="selected" />Titulo
                                                <option value="ISSN" />ISSN
                                                <option value="ISBN" />ISBN
                                            </select>
                                            <div class="separator"></div>
                                            <select>
                                                <option value="" disabled="disabled" selected="selected" />Area
                                                <option />Salud
                                                <option />Informatica
                                                <option />Odontologia
                                            </select>
                                            <select>
                                                <option value="" disabled="disabled" selected="selected" />Categoria
                                                <option />Redes
                                                <option />Programacion
                                                <option />Algoritmos
                                            </select>
                                            <div class="separator"></div>
                                            <input type="submit" value="buscar" />
                                        </div>
                                    </form>
                                </div>
                                

                                <div id="home_preview" class="agents">
                                    <div class="view_more sort_by">
                                        <span>ordenar por:</span>
                                        <a href="#">mas leidas</a> | <a href="#">mas nuevas</a>
                                    </div>


                                {% for dato in publicaciones %}
                                    
                                    <div class="home_preview agent_preview">
                                        <img src="/media/{{dato.foto}}" alt="autor" />
                                        <div class="home_info agent_info">
                                            <a href="/publicaciones/{{dato.id}}"><h4>{{dato.titulo | title}}</h4></a>
                                            <ul>
                                                <li>{{dato.categoria.area.nombre | capfirst}}</li>
                                                <li>{{dato.categoria | title}}</li>
                                                <li>{{dato.issn | capfirst}}</li>
                                                <li>{{dato.isbn | capfirst}}</li>
                                            </ul>
                                        </div>
                                        <div class="home_footer">
                                            <a class="sale" href="/publicaciones/{{dato.id}}">Ver</a>
                                            <span class="home_cost">{{dato.lecturas}} Lecturas</span>
                                        </div>
                                    </div>

                                {% endfor %}



                                    <div class="more_rooms"><a href="#" class="more">Cargar</a></div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </aside>
{% endblock %}